


.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #1e2125fa;
 
}
/* background-image{
  background-image: url("./images/LRM_EXPORT_20200426_202733.jpg");
} */

/* footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
} */